<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel='stylesheet' href='/assets/style.css' >
</head>

<body>
    <%- include ('partials/nav'); %>

    <h1>Profile User: <%= person %></h1>
    <p><strong>Name : </strong><%= data.name%></p>
    <p><strong>Age : </strong><%= data.age%></p>
    <p><strong>Job : </strong><%= data.job%></p>
    <h2>Hobbies:</h2>
    <ul>
        <% data.hobbies.forEach((hobby)=>{
           %><li><%= hobby %></li>
       <% }); %>
    </ul>

</body>

</html>